/* CREATE TAB */
.create-container {
  padding: 30px 120px;   /* margin left & right */
}

/* Reduce input height */
::ng-deep .mat-mdc-form-field {
  --mdc-outlined-text-field-container-height: 44px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  padding-top: 20px;
}

.full-width {
  width: 100%;
  margin-top: 16px;
}

.button-row {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

/* SUPPLIER LIST TAB */
.list-container {
  padding: 0;        /* NO margin */
  margin: 0;
}
