<mat-toolbar class="navbar">

  <span class="logo">Mobile POS</span>

  <span class="spacer"></span>

  <!-- SUPPLIER MENU -->
  <button mat-button [matMenuTriggerFor]="supplierMenu">
    Supplier
  </button>

  <mat-menu #supplierMenu="matMenu">
    <button mat-menu-item (click)="navigate('supplierOrder')">
      Supplier Order
    </button>
    <button mat-menu-item (click)="navigate('supplierList')">
      Supplier List
    </button>
  </mat-menu>

  <!-- PURCHASE MENU -->
  <button mat-button [matMenuTriggerFor]="purchaseMenu">
    Purchase
  </button>

  <mat-menu #purchaseMenu="matMenu">
    <button mat-menu-item (click)="navigate('purchaseOrder')">
      New Purchase
    </button>
    <button mat-menu-item (click)="navigate('purchaseList')">
      Purchase List
    </button>
  </mat-menu>

  <!-- SALES MENU -->
  <button mat-button [matMenuTriggerFor]="salesMenu">
    Sales
  </button>

  <mat-menu #salesMenu="matMenu">
    <button mat-menu-item (click)="navigate('saleOrder')">
      New Sale
    </button>
    <button mat-menu-item (click)="navigate('salesList')">
      Sales List
    </button>
  </mat-menu>

  <!-- REPORTS MENU -->
  <button mat-button [matMenuTriggerFor]="reportsMenu">
    Reports
  </button>

  <mat-menu #reportsMenu="matMenu">
    <button mat-menu-item (click)="navigate('purchaseReport')">
      Purchase Report
    </button>
  </mat-menu>  

</mat-toolbar>
